@import 'loaders.css';

body {
    background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%) fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

html, 
body,
#root {
    height: 100%;
	margin: 0;
}

* {
    user-select: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* @property --top-pos {
	syntax: '<percentage>';
	initial-value: 20%;
	inherits: false;
} */